/* importing the Roboto font for CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   margin: 0;
   padding: 0;
   user-select: none;
   scrollbar-width: none;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
   display: none;
}